<div style="padding: 10px;">
  <div style="display: flex;align-items: center;padding: 10px;background-color: white;margin-bottom: 10px;">
    <div style="margin-right: 10px;">Kết nối lần cuối :</div>
    <div>{{status?.createdAt |timeFormat}}</div>
  </div>
  <div style="background: white;position: relative;margin-bottom: 10px;">
    <div style="height: 200px;" id="temperature-gauge1"  [value]="temp0" temperature-gauge></div>
    <div style="position: absolute;bottom: 0px;left: 50%; transform: translate(-50%,-50%);">Nhiệt độ 1</div>
  </div>
  <div style="background: white;position: relative;margin-bottom: 10px;">
    <div style="height: 200px;" id="temperature-gauge2" color="#F35CE9" [value]="temp1" temperature-gauge></div>
    <div style="position: absolute;bottom: 0px;left: 50%; transform: translate(-50%,-50%);">Nhiệt độ 2</div>
  </div>
  <div style="background: white;position: relative;margin-bottom: 10px;">
    <div style="height: 200px;" id="temperature-gauge3" color="#5C7BF3" [value]="temp2" temperature-gauge></div>
    <div style="position: absolute;bottom: 0px;left: 50%; transform: translate(-50%,-50%);">Nhiệt độ 3</div>
  </div>
  
  <div style="border: 1px solid rgb(208, 208, 208);">
      <div #chartHistory id="chart-history-temperature" appTemperatureChart [data]="data" style="height: 60vh;"></div>
  </div>
</div>

